@media screen and (min-width: 481px) {
  .article-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-3xl);
  }

  .title {
    display: inline-block;
    font-size: var(--text-lg);
    margin-bottom: var(--space-xs);
    margin-top: 0;
    border-bottom: 1.5px solid transparent;
  }

  .image-wrapper {
    width: 90%;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .card-desc {
    display: grid;
    grid-template-rows: 1fr 2fr;
  }
}

@media screen and (max-width: 480px) {
  .article-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(minmax(280px, 1fr));
    grid-gap: var(--space-3xl);
  }

  .title {
    display: inline-block;
    font-size: var(--text-lg);
    margin-bottom: var(--space-xs);
    margin-top: var(--space-2xl);
    border-bottom: 1.5px solid transparent;
  }
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: repeat(minmax(280px, 1fr));
  grid-gap: var(--space-3xl);
}


.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}
