.hero {
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 200px;
  padding: 0 0 var(--size-gutter);
  position: relative;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
}

@media (min-width: 1024px) {
  .image {
    margin: 0 auto;
    width: 72%;
  }
}
