.container {
  display: flex;
  justify-content: center;
  max-width: var(--size-max-width);
  height: 20vh;
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem {
  font-size: 25px;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-md);
}
